* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  background-size: 100%;
}

.Header {
  display: flex;
  justify-content: center;
  margin: 28px;
}

.Header h1 {
  font-size: 48px;
}

.SolarSystem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px;
  padding: 24px;
}

.SolarSystem h2 {
  margin-bottom: 28px;
  text-align: center;
  width: 100%;
}

.PlanetCard {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  width: 10%;
}

.PlanetCard img {
  width: 150%;
}

.Missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Missions h2 {
  margin: 28px 0;
  text-align: center;
  width: 100%;
}

.MissionCard {
  align-items: center;
  border: 2px solid white;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 16px;
  text-align: center;
  width: 200px;
}

.MissionCard p {
  font-size: 22px;
  margin: 10px;
}

.App {
  text-align: center;
}
